<div class="container h-100 btn-warning">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class=" p-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                        <form class="mx-1 mx-md-4" #userform="ngForm" (ngSubmit)="OnSubmit(userform)">
                            <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
                                {{errorMessage.error | json}}
                            </div> -->
                            <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="form3Example1c" class="form-control"
                                        [class.is-invalid]="userName.invalid && userName.touched "
                                        [class.is-invalid]="userName.invalid && userName.touched " required
                                        #userName="ngModel" [(ngModel)]="userModel.userName" name="userName">
                                    <small class="text-danger"
                                        [class.d-none]="userName.untouched || userName.valid">User Name is
                                        required</small>
                                    <label class="form-label" for="form3Example1c">User Name</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input id="form3Example3c" type="text" class="form-control"
                                        pattern="[^@]+@[^@]+.[a-zA-Z]{2,20}"
                                        [class.is-invalid]="email.invalid && email.touched "
                                        [class.is-invalid]="email.invalid && email.touched " required #email="ngModel"
                                        [(ngModel)]="userModel.email" name="email">
                                    <small class="text-danger" [class.d-none]="email.untouched || email.valid">Email
                                        address is required</small>
                                    <label class="form-label" for="form3Example3c">Your Email</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <div class="input-group">
                                        <input id="form3Example4c" [type]="fieldTextType ? 'text' : 'password'"
                                            class="form-control"
                                            [class.is-invalid]="password.invalid && password.touched " required
                                            #password="ngModel" [(ngModel)]="userModel.password" name="password" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa" [ngClass]="{
                                              'fa-eye-slash': !fieldTextType,
                                              'fa-eye': fieldTextType
                                            }" (click)="toggleFieldTextType()"></i>
                                            </span>
                                        </div>
                                        <small class="text-danger"
                                            [class.d-none]="password.untouched || password.valid">Password is
                                            required</small>
                                    </div>
                                    <label class="form-label" for="form3Example4c">Password</label>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mb-5">
                                <span>Already have an account? <a routerLink="/Login">Sign In</a></span>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button" class="btn btn-light btn-lg active col-6"
                                    [disabled]="!userform.valid">Register</button>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                        <img src="../../../../assets/Images/Bg-Glass10.jpg" class="img-fluid" alt="Sample image">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>