
  <div class="container--fluid main--content clear">
  
    <section class="post post__full">
      <div class="p__full--details">
        <h2 class="p--title">Enjoy your look!</h2>
        <div class="p__full-data clear">
          <a class="data data--source" href="#0">Space.com</a>
          <p class="data data--time">28m ago</p>
          <a class="data data--category" href="#0">Category</a>
        </div>
      </div>
    </section>
  
    <section class="post post__half">
      <div class="p__half--details">
        <h2 class="p--title">Find a pair you'll love! </h2>
        <div class="p__half-data">
          <a class="data data--source" href="#0">Space.com</a>
          <p class="data data--time">28m ago</p>
        </div>
      </div>
      <a class="data data--category" href="#0">Category</a>
    </section>
  
    <section class="post post__half">
      <div class="p__half--details">
        <h2 class="p--title">Find your perfect <span class="text-warning">Eyeglasses</span>!</h2>
        <div class="p__half-data">
          <a class="data data--source" href="#0">Space.com</a>
          <p class="data data--time">28m ago</p>
        </div>
      </div>
      <a class="data data--category" href="#0">Category</a>
    </section>
  
    <section class="post post__full">
      <div class="p__full--details">
        <h2 class="p--title">Get The Look</h2>
        <div class="p__full-data">
          <a class="data data--source" href="#0">Space.com</a>
          <p class="data data--time">28m ago</p>
          <a class="data data--category" href="#0">Category</a>
        </div>
      </div>
    </section>
  
  </div>

  